@import url(./reset.css);
@import url(./twitter.css);
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body{
	font-family: 'PT Sans', sans-serif;
	font-weight:700;
}

h1,h2,h3,h4,h5,h6{
  text-transform:uppercase;
	font-size:1.5em;
	font-size:2.3vmin;
	line-height:1.4;
	letter-spacing:1px;
}
h1,h3{
	font-weight:400;
}
p{
	font-size:90%;
	line-height:1.4;
}


#bernie{
  position:relative;
  display:block;
	/* set min sizes */
}

#bernie header{
  position:absolute;
  bottom:10%;
  left:10%;
	min-width:500px;
	max-width:60%;
	background-color:#0000ff;
	background-color:rgba( 0,0,255, 0.5);
	color:white;
}

#bernie header h1,
#bernie header h2{
	padding:0.6% 0.9%;
}

#bernie header h1{
	float:left;
	background-color:#0000ee;
	padding-right:0.9%;
}
#bernie header h2{
	background-color:#fff;
	color:#0000ee;
	padding-left:5.6%;
}
#bernie header h3{
	padding:0.3% 1.6%;
	color:yellow;
}
#bernie header h3:before{
	content:'';
	position:Absolute;
	top:0;
	left:0;
	rght:0;
	height:3px;
	background-color:yellow;
}
#bernie header p{
	padding:0.3% 1.6% 0.9% 1.6%;
}

#tweets {
  border: 1px solid white;
	background-color:white;

  display:block;
  position:absolute;
	overflow:hidden;

	right: 20.09%;
	top: 7.85%;
	left: 51.35%;
	height: 36.3%;
	/* replace height for bottom...
	bottom: 55.6%;*/

	transform-origin: 0 0;
	transform: matrix3d(0.975846, 0.0287041, 0, -0.0000648756, -0.0272197, 1.03424, 0, 0.0000467516, 0, 0, 1, 0, 0, -2.2, 0, 1);
}

.twitter-timeline{

}

.bg{
  position:relative;
  z-index:-1;
	max-width:100%;
}

.copyright{
  position:absolute;
  z-index:99;
  bottom:0;
  right:0;
}


/* Make sure we don't shrink less than... */
